users {
    background-color: black;
    height: 200px;
}

user1 {
    background-color: pink;
}

user2 {
    background-color: orange;
}

user3 {
    background-color: lavender;
}

user4 {
    background-color: gold;
}