<!--Be sure of the alignment-->
<div class="MainContent col-lg col-centered">
    <navbar></navbar>
    <br>
    <div class="title row row-centered">
        <!--Insert new title/ Display existing title-->
        <form class="row-centered">
            <input id="titl" type="text" placeholder="Enter Title">
        </form>
    </div>
    <br>
    <br>
    <div class="newpad col col-centered">
        <!--Main pad-->
        <newPad></newPad>
    </div>
    <!--<div class="row-md row-centered">
        <users></users>
    </div>-->
</div>