<!--TODO:make whole nav smaller-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="left">
            <a class="row navbar-brand" id="logo" href="#">
                <img src=./piclogo.png alt="Logo" class="navImage" >
                <img src=./Logo.png alt="LogoText" class="navImage"  >
                <!--TODO:make Editor larger font
                <span>Online
                    <br>Document
                    <br>Editor</span>-->
            </a>
        </div>

        <div class="right">
            <ul class="nav navbar-nav pull-right">
                <div class="row no-gutter">
                    <div class="col text-center col-md-6 visible">
                        <li>
                            <button>
                                <a href="#">Settings</a>
                            </button>
                        </li>
                    </div>
                    <!--TODO: float About button exactly to the right of the nav-->
                    <div class="col text-center col-md-6 float-md-right">
                        <li>
                            <button>
                                <a href="#">About</a>
                            </button>
                        </li>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>
