<!--<nav class="navbar navbar-default">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img id="logo" class="d-inline-block mr-1" alt="Logo" src="logo_online.png">
        </a>

        <ul class="nav navbar-nav pull-right">
            <li>
                <a href="#">About</a>
            </li>
        </ul>
    </div>
</nav>-->

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">
        <b-img left src="https://picsum.photos/125/125/?image=58" width="65" height="65" />
        <span>Jetze Kunnen<b>hoveniersbedrijf</b></span>
    </a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"> <span class="navbar-toggler-icon"></span> </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item"> <a class="nav-link" href="#">Link</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Link</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Link</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#">Link</a> </li>
        </ul>
    </div>
</nav>