    .navbar-default {
        background-color: #5F779E;
        height: 70px;
    }

    .navbar-brand>img {
        height: 10px;
        padding: 15px;
        width: auto;
      }

    nav .navbar-nav li a{
        color: white !important;
        }