.newPad::focus {
    border-color: #2368B1;
}

#textArea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    min-height: 75px;
    outline: none;
    resize: none;
}


/*style placeholder for all browsers*/

textarea::-webkit-input-placeholder,
{
    /* Chrome/Opera/Safari */
    color: #427bb4;
    text-align: center;
}

textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: #427bb4;
    text-align: center;
}

textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: #427bb4;
    text-align: center;
}

textarea:-moz-placeholder {
    /* Firefox 18- */
    color: #427bb4;
    text-align: center;
}


/*input[type=submit] {
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    align-content: center;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}*/