<div class="AboutPage">
    <div class="backgrounding">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-xs-1"></div>
                <div class="col-lg-10  col-xs-1 panel panel-default panel-transparent ">
                    <div class="panel-body clear-20">                 
                            <div class=" col-12 col-6 col-3">
                                <br>
                                <h2>About</h2>                     
                            </div>
                            <div class="col-12 col-6 col-3 clear-20">
                               <p>Online editor allows you to edit documents collaboratively in real-time,
                                  much like a live multi-player editor that runs in your browser. Write articles, press releases, 
                                  to-do lists, etc. together with your friends, fellow students or colleagues, 
                                  all working on the same document at the same time.
                                </p>                               
                               <p>Was designed in Figma and written in VueJS,HTML,CSS concerning the Front-end part.Other other hand Back-end piece of project written in GO language.</p>                               
                            </div>           
                    </div>                          
                </div>
                <div class="col-lg-1 col-xs-1"></div>
            </div>   
        </div>
    </div>
</div>